div.slider-card {
    width: 60%;
    margin: auto;
}

.col-lg {
    padding-top: 1em;
    padding-bottom: 1em;
}

h1 {
    text-align: center;
}

body {
    background-color: #191414;
    color: #FFFFFF;
}

label {
    margin-left: 5%;
}

html {
    font-size: 1.2em;
}

.dropdown-menu{
    height:200px;
    overflow-y:auto;
 }

 #hidden {
    display: none;
}