div.slider-card {
    width: 60%;
    margin: auto;
}

.col-lg {
    padding-top: 1em;
    padding-bottom: 1em;
}

h1 {
    margin-bottom: 1rem;
    font-weight:850;
    font-family: "proxima-nova-bold";
    font-size:300%;

}

body {
    color: #FFFFFF;
    background-image: url(/static/img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "proxima-nova";
}

label {
    margin-left: 3%;
}

html {
    font-size: 1.2em;
}

.dropdown-menu{
    height:200px;
    overflow-y:auto;
 }

 #hidden {
    display: none;
}

label:hover {
    color: #585858;
}

#bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
}

h3 {
    display: inline;
    font-size: larger;
}

.border {
    border-width: 5px!important;
}

.rounded {
    border-radius:1rem!important;
}


.fadeInUp{
    animation-duration: 1.5s!important;
}

#made-in {
    animation-duration: 2s;
}


.custom-range::-webkit-slider-thumb {
    background: #1db954;
  }
  
  .custom-range::-moz-range-thumb {
    background: #1db954;
  }
  
  .custom-range::-ms-thumb {
    background: #1db954;
  }

  #hack-img {
      opacity: .9;
  }

  #select-button {
      margin-bottom: .15rem;
  }

  .custom-range {
      margin-bottom: .5rem;
  }

  @font-face {
      font-family: proxima-nova;
      src: url(/static/fonts/proxima-nova-regular-webfont.ttf)
  }

  @font-face {
    font-family: proxima-nova-bold;
    src: url(/static/fonts/proxima-nova-bold-webfont.ttf)
}